#map {
  float: left;
  border: 1px solid #ddd;
  margin: 2em;
  width: 60%;
  min-width: 260px;
  height: 600px;
}
#details {
  float: left;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em;
  min-width: 50px;
  max-width: 30%;
}
#find {
  margin-left: 2em;
}
#precinct {
  font-size: 14px;
  padding: 4px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.info {
  padding: 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
